<div class="row">
    <div class="col-md-5">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <a 
                href=""
                class="list-group-item" 
                style="cursor: pointer;"
                *ngFor="let ingredient of ingredients">
                {{ ingredient.name }} ({{ingredient.amount}}) <span class="pull-right"><img src="{{ingredient.imagePath}}" alt=""class="img-responsive" 
                style="max-height: 20px;"></span>
               
            </a>
        </ul>
    </div>
</div>
